<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>设置密码</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="http://images.ofweek.com/css/ofw-global-steven.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/jsdialog.css">
    <body>
        <div id="header">
            <div class="wrapper">
                <div class="logo fl"><img src="images/logo.png"></div>
                <h1 class="fl">个人会员注册</h1>
            </div>
        </div>
        <div id="content">
            <div class="greybg-box">
                <div class="wrapper content-box clearfix">
                    <form action="" method="post" class="fl regform" id="regForm">
                        <div class="form-group clearfix">
                            <label class="control-label">手机/邮箱：</label>
                            <div class="form-control">
                                <input type="text" name="account" data-method="" class="txt" placeholder="请输入手机或邮箱" id="account">
                            </div>
                        </div>
                        <div class="form-group clearfix dn">
                            <label class="control-label">图片验证码：</label>
                            <div class="form-control">
                                <input type="text" name="img_code" class="txt txt162 mr10" placeholder="请填写验证码" id="img_code">
                                <img src="images/validateCode.png" alt="" class="fl" id="code_img">
                                <p class="input-tips">请输入图中字母，不区分大小写</p>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">验证码：</label>
                            <div class="form-control">
                                <input type="text" name="validate_code" class="txt txt162" placeholder="请填写验证码" id="validate_code">
                                <input type="button" value="发送验证码" class="getcode">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">登录密码：</label>
                            <div class="form-control">
                                <input type="password" name="pwd" class="txt" placeholder="支持6-20位数字、字母和标点符号" id="pwd">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">确认密码：</label>
                            <div class="form-control">
                                <input type="password" name="repwd" class="txt" placeholder="请再次输入密码" id="repwd">
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="control-label">感兴趣行业：</label>
                            <div class="form-control form-control-pulldown">
                                <div class="pulldown-box">
                                    <div class="pulldown">
                                        <span class="select-txt" id="jselect">您可以选择5个行业</span>
                                        <i></i>
                                    </div>
                                    <input type="hidden" name="jselected" id="jselected" datatype="*" nullmsg="请选择感兴趣行业！" sucmsg="">
                                    <input type="hidden" name="smallclass" value="987012,987006,987004,987017,987015" id="smallclass">
                                    <input type="hidden" name="smallclass2" value="低碳技术,余压余热,碳排放交易,土壤修复,新能源汽车" id="smallclass2">
                                </div>
                            </div>
                        </div>
                        <p class="reg-chk ml110">
                            <label>
                                <input type="checkbox" name="" checked="checked"><span>订阅 <a href="#">OFweek资讯邮件</a></span></label>
                            <label>
                                <input type="checkbox" name="" checked="checked"><span>我已阅读并接受<a href="http://www.ofweek.com/protocol.shtml" target="_blank">《OFweek.com注册协议》</a></span></label>
                        </p>
                        <input type="button" value="注册" class="btn-red">
                    </form>
                    <div class="person-service fr reg-person-service mt20">
                        <div class="service-hd clearfix">
                            <h3 class="fl">个人服务</h3>
                        </div>
                        <ul class="service-list clearfix">
                            <li>
                                <a href="http://www.ofweek.com/" target="_blank">
                                    <h4><img src="images/service2.png"></h4>
                                    <p>资讯服务</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://expo.ofweek.com/ " target="_blank">
                                    <h4><img src="images/service3.png"></h4>
                                    <p>在线展览</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://webinar.ofweek.com/index.action?user.id=2 " target="_blank">
                                    <h4><img src="images/service1.png"></h4>
                                    <p>在线研讨会</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://hr.ofweek.com/" target="_blank">
                                    <h4><img src="images/service4.png"></h4>
                                    <p>求职</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://wenku.ofweek.com/" target="_blank">
                                    <h4><img src="images/service5.png"></h4>
                                    <p>文库</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://bbs.ofweek.com/portal.php" target="_blank">
                                    <h4><img src="images/service6.png"></h4>
                                    <p>论坛</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://research.ofweek.com/" target="_blank">
                                    <h4><img src="images/service7.png"></h4>
                                    <p>行业报告</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ofweek.com/productcenter/" target="_blank">
                                    <h4><img src="images/service8.png"></h4>
                                    <p>产品试用</p>
                                </a>
                            </li>
                            <li>
                                <a href="http://video.ofweek.com/" target="_blank">
                                    <h4><img src="images/service9.png"></h4>
                                    <p>行业视频</p>
                                </a>
                            </li>
                        </ul>
                        <dl class="common-question">
                            <dt>常见问题</dt>
                            <dd>
                                <strong>无法收到验证码：</strong>请查看下是否在手机/邮箱的垃圾 箱里，如没有请再点击“发送验证码”，多次尝试依 然无法收到验证码请联系
                                <a href="#" class="online-service">在线客服</a>处理；
                            </dd>
                            <dd class="mt6">
                                <strong>提交时提示错误：</strong>请刷新页面后重新注册，如刷新后 还存在请联系
                                <a href="#" class="online-service">在线客服</a>处理；
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <!--感兴趣行业弹窗-->
        <div id="jsdialog-jobs" class="jsdialog">
            <div class="jsdialog-header">
                <h2 class="title">选择感兴趣行业</h2>
                <a class="closer jsdialog-closer" href="javascript:;">X</a>
            </div>
            <div class="jsdialog-search">
                <!-- <span class='search-input'><input class="search-wd" value="输入行业名称" /><a href="javascript:;" class="search-closer"></a></span> -->
                <span class="jsdialog-tips">没有您要搜索的关键词，建议重新搜索</span>
                <!-- ###修改### -->
                <div class="jsdialog-selected-clear">
                    <!-- <span>已选1项</span> -->
                    <a href="javascript:">全部取消</a>
                </div>
                <!-- ###修改### -->
            </div>
            <!-- 已选择职位 -->
            <div class="jsdialog-selected"></div>
            <!-- 职位列表 -->
            <div class="jsdialog-list fn-clear">
                <div class="loading"></div>
                
            </div>
            <!-- 职位二级列表 -->
            <div class="jsdialog-sublist">
                <div class="loading"></div>
               
            </div>
             <script id="tpl-list" type="text/html">
  {{each list}}
    <a class="jsdialog-list-item" data-id="{{$value.id}}" href="javascript:;">{{$value.name}}</a>
  {{/each}}
</script>

<script id="tpl-sublist" type="text/html">
  <div class="gw-sublist-col gw-sublist-product">
    <h4 class="gw-sublist-title">产品/技术</h4>
    <div class='gw-sublist-item-wrapper'>
      {{each list}}
      {{if $value.type === 1}}
        <span class="gw-sublist-item"><label for="cbx-{{$value.id}}" title="{{$value.name}}"><input type="checkbox" value="{{$value.id}}" id="cbx-{{$value.id}}">{{$value.name}}</label></span>
      {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="gw-sublist-col gw-sublist-industry">
    <h4 class="gw-sublist-title">行业</h4>
    <div class='gw-sublist-item-wrapper'>
      {{each list}}
      {{if $value.type === 2}}
        <span class="gw-sublist-item"><label for="cbx-{{$value.id}}" title="{{$value.name}}"><input type="checkbox" value="{{$value.id}}" id="cbx-{{$value.id}}">{{$value.name}}</label></span>
      {{/if}}
      {{/each}}
    </div>
  </div>
</script>
            <div class="jsdialog-footer">
                <a class="button jsdialog-submit" href="javascript:;">确定</a>
                <!--      <a class="button jsdialog-clear" href='javascript:;'>清除</a>-->
                <a class="button jsdialog-closer" href="javascript:;">关闭</a>
            </div>
        </div>
        <div id="g-footer" class="g-footer">
            <div class="g-wrap">
                <div class="g-footer-nav">
                    <a target="_blank" href="http://www.ofweek.com/about.shtml" rel="nofollow">关于我们</a> -
                    <a target="_blank" href="http://www.ofweek.com/abouten/company.html" rel="nofollow">About OFweek</a> -
                    <a target="_blank" href="http://www.ofweek.com/user/ArtRequest.do" rel="nofollow">征 稿</a> -
                    <a target="_blank" href="http://www.ofweek.com/ad.shtml" rel="nofollow">广告咨询</a> -
                    <a target="_blank" href="http://www.ofweek.com/help.shtml" rel="nofollow">帮助信息</a> -
                    <a target="_blank" href="http://www.ofweek.com/contact.shtml" rel="nofollow">联系我们</a> -
                    <a target="_blank" href="http://www.ofweek.com/service.shtml" rel="nofollow">会员服务</a> -
                    <a target="_blank" href="http://www.ofweek.com/sitemap.shtml" rel="nofollow">网站导航</a> -
                    <a target="_blank" href="http://m.ofweek.com" rel="nofollow">手机OFweek网</a>
                </div>
                <div class="g-footer-links">
                    我们的网站：<a target="_blank" href="http://lights.ofweek.com" rel="nofollow">半导体照明网</a> |
                    <a rel="nofollow" href="http://solar.ofweek.com" target="_blank">太阳能光伏网</a> |
                    <a target="_blank" href="http://laser.ofweek.com" rel="nofollow">激光网</a> |
                    <a rel="nofollow" href="http://3dprint.ofweek.com" target="_blank">3D打印网</a> |
                    <a rel="nofollow" href="http://power.ofweek.com" target="_blank">电力网</a> |
                    <a rel="nofollow" href="http://smartgrids.ofweek.com" target="_blank">智能电网</a> |
                    <a rel="nofollow" href="http://ecep.ofweek.com" target="_blank">节能环保网</a> |
                    <a target="_blank" href="http://ee.ofweek.com" rel="nofollow">电子工程网</a> |
                    <a rel="nofollow" href="http://vr.ofweek.com" target="_blank">VR网</a> |
                    <a rel="nofollow" href="http://fiber.ofweek.com" target="_blank">光通讯网</a> |
                    <a target="_blank" href="http://gongkong.ofweek.com" rel="nofollow">工控网</a> |
                    <a target="_blank" href="http://lighting.ofweek.com" rel="nofollow">照明网</a> |
                    <a target="_blank" href="http://windpower.ofweek.com" rel="nofollow">风电网</a>
                    <br>
                    <a target="_blank" href="http://instrument.ofweek.com" rel="nofollow">仪器仪表网</a> |
                    <a target="_blank" href="http://display.ofweek.com" rel="nofollow">显示网</a> |
                    <a target="_blank" href="http://tele.ofweek.com" rel="nofollow">通信网</a> |
                    <a target="_blank" href="http://robot.ofweek.com" rel="nofollow">机器人网</a> |
                    <a target="_blank" href="http://libattery.ofweek.com" rel="nofollow">锂电网</a> |
                    <a target="_blank" href="http://iot.ofweek.com" rel="nofollow">物联网</a> |
                    <a target="_blank" href="http://smarthome.ofweek.com" rel="nofollow">智能家居</a> |
                    <a target="_blank" href="http://wearable.ofweek.com" rel="nofollow">可穿戴设备网</a> |
                    <a target="_blank" href="http://auto.ofweek.com" rel="nofollow">汽车网</a> |
                    <a target="_blank" href="http://nev.ofweek.com" rel="nofollow">新能源汽车网</a> |
                    <a target="_blank" href="http://medical.ofweek.com" rel="nofollow">医疗网</a> |
                    <a target="_blank" href="http://security.ofweek.com" rel="nofollow">安防网</a> |
                    <a target="_blank" href="http://sensor.ofweek.com" rel="nofollow">传感器网</a> |
                    <a rel="nofollow" href="http://hr.ofweek.com" target="_blank">人才网</a> |
                    <a href="http://b2b.ofweek.com/" target="_blank" rel="nofollow">商贸网</a> |
                    <a href="http://en.ofweek.com/" target="_blank" rel="nofollow">外贸网</a> |
                    <a href="http://peixun.ofweek.com/" target="_blank" rel="nofollow">培训网</a>|
                    <a href="http://www.isweek.cn" target="_blank" rel="nofollow">工采网</a>
                    <br> 客服热线：+86-755-83279360 83279361 83279363 83279365 客服传真：+86-755-83279008
                    <br> 业务联系：+86-755-83279360
                    <br>
                    <a target="_blank" href="http://www.miitbeian.gov.cn" rel="nofollow">粤ICP备06087881号-1</a>&nbsp;Copyright © 2016, All Rights Reserved.
                    <br> 中文版权所有－OFweek中国高科技行业门户.网站所有图片、文字未经许可不得拷贝、复制。
                </div>
                <div class="g-footer-record">
                    <p>
                        <span class="fn-fl"><a href="http://61.144.227.239:9002/" target="_blank" rel="nofollow"><img width="36" height="43" border="0" alt="深圳网络警察报警平台" src="http://img1.qq.com/www/pics/816/816587.gif"></a></span>
                        <span class="fn-fr"><a href="http://61.144.227.239:9002/" target="_blank" rel="nofollow">深圳网络警<br>
        察报警平台</a></span>
                    </p>
                    <p>
                        <span class="fn-fl"><a href="http://61.144.227.239:9003/webrecord/form_query.jsp" target="_blank" rel="nofollow"><img width="36" height="42" border="0" alt="公共信息安全网络监察" src="http://img1.qq.com/www/pics/6743/6743671.jpg"></a></span>
                        <span class="fn-fr"><a href="http://61.144.227.239:9003/webrecord/form_query.jsp" target="_blank" rel="nofollow">公共信息安<br>
        全网络监察</a></span>
                    </p>
                    <p>
                        <span style="width:44px;" class="fn-fl"><a href="http://www.12377.cn/" target="_blank" rel="nofollow"><img width="44" height="44" border="0" alt="不良信息举报中心" src="http://mat1.qq.com/www/images/200709/home_b.gif"></a></span>
                        <span style="width:64px;" class="fn-fr"><a class="lcblack" href="http://www.12377.cn/" target="_blank" rel="nofollow">不良信息<br>
        举报中心</a></span>
                    </p>
                    <p style="border:none;">
                        <script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=9822308f-c3cf-4c02-851d-6bac920e6898&amp;width=120&amp;height=50&amp;type=2" type="text/javascript" charset="utf-8"></script>
                        <a href="http://szcert.ebs.org.cn/9822308f-c3cf-4c02-851d-6bac920e6898" target="_blank"><img src="http://szcert.ebs.org.cn/Images/newGovIcon.gif" title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示" width="120" height="50" border="0" style="border-width:0px;border:hidden; border:none;"></a>
                        <script type="text/javascript" src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js"></script>
                    </p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.ofweek.com/ofweek/js/template.js"></script>
        <script type="text/javascript" src="js/emailTips.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/ofw-reg.js"></script>
        <script type="text/javascript">
            $(function(){
                $.job1001EmailTips({
                    'account':{className:'email-tips-list'}
                });
            });
        </script>
    </body>

</html>
